@if (!isHidden()) {
  <div class="loader-overlay" [class.fade-out]="isFading()">
    
    <div class="terminal-container">
      <div class="code-line">
        <span class="keyword">const</span> developer = <span class="string">'Kalpataru Sahoo'</span>;
      </div>
      <div class="code-line typing-animation">
        <span class="function">system</span>.<span class="method">boot</span>(); <span class="blink">_</span>
      </div>
      
      <div class="progress-bar-container">
        <div class="progress-fill"></div>
      </div>
    </div>

  </div>
}